<a href="https://colab.research.google.com/github/flowonthegoliv/ENVS666/blob/main/read_liverpool.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [36]:
filename = 'data/liverpool_council/liv_no2.csv' # here we can read in the DEFRA data
# this reads in the data and tidies it up. Don't worry if you don't understand it! 
import pandas as pd
import datetime
import numpy as np
url = f'https://raw.githubusercontent.com/flowonthegoliv/ENVS666/main/{filename}'
df = pd.read_csv(url,skiprows=2,dtype='unicode')
df = df.drop([df.index[0] , df.index[1]])
df.drop(df.tail(10).index,inplace=True)
# df[df.columns[0]] = pd.to_datetime(df[df.columns[0]])
df = df.rename({df.columns[0]: 'Date & Time'},axis=1)
df = df.replace(['NaN'],'9999')
df = df.reset_index(drop=True)
for i in range (0,np.size(df,0)):
  hour = np.int(df['Date & Time'][i][0:2]);
  min = np.int(df['Date & Time'][i][3:5]);
  day = np.int(df['Date & Time'][i][6:8])
  month = np.int(df['Date & Time'][i][9:11])
  year = np.int(df['Date & Time'][i][12:16])
  if hour == 24: 
    hour =0;
  d = datetime.datetime(year, month, day, hour, min)
  df['Date & Time'][i]=d
df['Liverpool Clayton Square'] = df['Liverpool Clayton Square'].astype(float)
df['Liverpool Lime Street'] = df['Liverpool Lime Street'].astype(float)
df['Liverpool Speke Road'] = df['Liverpool Speke Road'].astype(float)
df['Liverpool Edge Lane'] = df['Liverpool Edge Lane'].astype(float)
df['Liverpool Everton Valley'] = df['Liverpool Everton Valley'].astype(float)
df = df.replace(['No data'],'9999')
df[df.columns[0]] = pd.to_datetime(df[df.columns[0]]);
df = df.replace([9999],np.nan)
# # this finished the complex bit - again don't worry I am just tidying

5.865296528447445