<a href="https://colab.research.google.com/github/flowonthegoliv/ENVS666/blob/main/read_defra.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
filename = 'data/defra/NO2_20_21.csv' # here we can read in the DEFRA data
# this reads in the data and tidies it up. Don't worry if you don't understand it! 
import pandas as pd
import datetime
import numpy as np
url = f'https://raw.githubusercontent.com/flowonthegoliv/ENVS666/main/{filename}'
df = pd.read_csv(url, skiprows=3,dtype='unicode')
df = df.drop(df.columns[range(3,df.shape[1],2)],axis=1)
df = df.drop([0,df.shape[0]-1],axis=0)
for i in range(1,df.shape[0]+1):
  time = df[df.columns[1]][i]
  tmp = "%0.2d" % (np.uint8(time[0:2])-1)
  df[df.columns[1]][i] = tmp+time[2::]
df[df.columns[1]] = pd.to_datetime(df[df.columns[0]] + ' ' + df[df.columns[1]])
df = df.drop(df.columns[0],axis=1)
df = df.rename({df.columns[0]: 'Date & Time'},axis=1)
df = df.replace(['No data'],'9999')
df = df[df.columns[range(0,df.shape[1])]].apply(pd.to_numeric)
df[df.columns[0]] = pd.to_datetime(df[df.columns[0]]);
df = df.replace([9999],np.nan)
# this finished the complex bit - again don't worry I am just tidying 

df

             Date & Time  Aberdeen  ...  York Bootham  York Fishergate
1    2020-02-15 00:00:00  16.77779  ...      16.64989         27.38998
2    2020-02-15 01:00:00   7.19152  ...      16.82429         20.12324
3    2020-02-15 02:00:00   4.59027  ...      19.43426         18.27383
4    2020-02-15 03:00:00  13.75174  ...      19.12696         18.35664
5    2020-02-15 04:00:00  12.71136  ...      12.18012         13.14335
...                  ...       ...  ...           ...              ...
8492 2021-02-02 19:00:00  10.32750  ...      11.66625         20.65500
8493 2021-02-02 20:00:00   6.69375  ...       7.84125         13.00500
8494 2021-02-02 21:00:00   3.82500  ...       8.03250         12.81375
8495 2021-02-02 22:00:00   2.29500  ...       8.98875         14.15250
8496 2021-02-02 23:00:00   3.44250  ...      11.47500         22.56750

[8496 rows x 164 columns]