<a href="https://colab.research.google.com/github/flowonthegoliv/ENVS666/blob/main/read_liverpool.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [48]:
filename = 'data/liverpool_council/liv_no2.csv' # here we can read in the DEFRA data
# this reads in the data and tidies it up. Don't worry if you don't understand it! 
import pandas as pd
import datetime
import numpy as np
url = f'https://raw.githubusercontent.com/flowonthegoliv/ENVS666/main/{filename}'
df = pd.read_csv(url,skiprows=2,dtype='unicode')
df = df.drop([df.index[0] , df.index[1]])
df.drop(df.tail(10).index,inplace=True)
# df[df.columns[0]] = pd.to_datetime(df[df.columns[0]])
df = df.rename({df.columns[0]: 'Date & Time'},axis=1)
df = df.replace(['NaN'],'9999')
df = df.reset_index(drop=True)
for i in range (0,np.size(df,0)):
  hour = np.int(df['Date & Time'][i][0:2]);
  min = np.int(df['Date & Time'][i][3:5]);
  day = np.int(df['Date & Time'][i][6:8])
  month = np.int(df['Date & Time'][i][9:11])
  year = np.int(df['Date & Time'][i][12:16])
  if hour == 24: 
    hour =0;
  d = datetime.datetime(year, month, day, hour, min)
  df['Date & Time'][i]=d
for i in range(1,df.shape[1]):
  df.iloc[:, [i]] = df.iloc[:, [i]].apply(pd.to_numeric)
df[df.columns[0]] = pd.to_datetime(df[df.columns[0]]);
df = df.replace([9999],np.nan)
# # this finished the complex bit - again don't worry I am just tidying

50   2020-10-01 12:45:00
51   2020-10-01 13:00:00
52   2020-10-01 13:15:00
53   2020-10-01 13:30:00
54   2020-10-01 13:45:00
55   2020-10-01 14:00:00
56   2020-10-01 14:15:00
57   2020-10-01 14:30:00
58   2020-10-01 14:45:00
59   2020-10-01 15:00:00
60   2020-10-01 15:15:00
61   2020-10-01 15:30:00
62   2020-10-01 15:45:00
63   2020-10-01 16:00:00
64   2020-10-01 16:15:00
65   2020-10-01 16:30:00
66   2020-10-01 16:45:00
67   2020-10-01 17:00:00
68   2020-10-01 17:15:00
69   2020-10-01 17:30:00
70   2020-10-01 17:45:00
71   2020-10-01 18:00:00
72   2020-10-01 18:15:00
73   2020-10-01 18:30:00
74   2020-10-01 18:45:00
75   2020-10-01 19:00:00
76   2020-10-01 19:15:00
77   2020-10-01 19:30:00
78   2020-10-01 19:45:00
79   2020-10-01 20:00:00
80   2020-10-01 20:15:00
81   2020-10-01 20:30:00
82   2020-10-01 20:45:00
83   2020-10-01 21:00:00
84   2020-10-01 21:15:00
85   2020-10-01 21:30:00
86   2020-10-01 21:45:00
87   2020-10-01 22:00:00
88   2020-10-01 22:15:00
89   2020-10-01 22:30:00
90   2020-10-01 22:45:00
91   2020-10-01 23:00:00
92   2020-10-01 23:15:00
93   2020-10-01 23:30:00
94   2020-10-01 23:45:00
95   2020-10-02 00:00:00
96   2020-10-02 00:15:00
97   2020-10-02 00:30:00
98   2020-10-02 00:45:00
99   2020-10-02 01:00:00
Name: Date & Time, dtype: datetime64[ns]

5.865296528447445